body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.card {
    border-radius: 15px;
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0d6efd;
}